@import '../../global';

.branding {
    color:var(--base---black);
    font-size:12px;
    font-weight: 600;
    letter-spacing:2px;
    line-height:24px;
    padding:22px 12px 26px;
    text-transform: uppercase;
}