@import '../../global';

.project {
    background:var(--base---white);
    display:flex;
    flex-direction: column;
    min-height:400px;
    position:relative;

    &--actions {
        padding:16px 0;
    }

    &--head {
        display:flex;
        flex-direction: column;
        gap:16px;
        width:100%;

        small {
            color: var(--neutrals--400);
            font-size:12px;
            font-weight: 600;
            letter-spacing:0.5px;
            line-height: 16px;
            text-transform: uppercase;
        }
    
        strong {
            @include headline--small;
            max-width:700px;

            @media screen and (min-width: $breakpoint--medium) {
                @include headline--medium;
            }
        }
    }


    &--mobile { 
        display:block;

        @media screen and (min-width: $breakpoint--small) {
            display:none;
        }
    }

    &--desktop { 
        display:none;

        @media screen and (min-width: $breakpoint--small) {
            display:block;
        }
    }

    &--image {
        aspect-ratio: 3 / 2;

        @media screen and (min-width: $breakpoint--small) {
            aspect-ratio: 3 / 1;
        }

        img {
             display:block;
             width:100%;
        }
    }

    &--info {
        display:flex;
        flex-wrap: wrap;
        row-gap:24px;
        column-gap: 48px;
        padding:24px;

        @media screen and (min-width: $breakpoint--medium) {
            padding:48px 80px;
        }
    }

    &--role {
        color:var(--neutrals--600);
        display:none;
        flex:0 0 200px;
        @include paragraph--medium;

        @media screen and (min-width: $breakpoint--medium) {
            display:block;
        }

        strong {
            color: var(--neutrals--800);
            display:block;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            letter-spacing: 2px;
            margin-bottom:4px;
            text-transform: uppercase;

            &:first-of-type {
                margin-top:-24px;
            }
        }

        p{
            margin-bottom:24px;
        }
    }

    &--text {
        display:flex;
        flex-direction: column;
        flex:1;

        @media screen and (min-width: $breakpoint--medium) {
            gap:16px;
        }
    
        p {
            color:var(--neutrals--600);
            flex:1;
            max-width:700px;
            @include paragraph--small;
            line-height:24px;

            @media screen and (min-width: $breakpoint--medium) {
                @include paragraph--medium;
            }
    
        }
    }

    a {
        bottom:0;
        left:0;
        position:absolute;
        right:0;
        top:0;
    }

    button {
        width: 100%;

        @media screen and (min-width: $breakpoint--medium) {
            width: fit-content;
        }
    }
}