@import '../../global';

.button {
    border:solid 1px var(--sky--50);
    border-radius:4px;
    background:var(--sky--50);
    color:var(--sky--600);
    font-family: inherit;
    height:42px;
    line-height: 16px !important;
    padding:12px 24px;
    @include label--small__medium;
}