.button {
    align-items: center;
    background:#000;
    border:none;
    color:#fff;
    cursor: pointer;
    display:inline-flex;
    font-size: 10px;
    letter-spacing:4px;
    font-family: inherit;
    font-weight: 600;
    height:40px;
    padding:0 40px;
    text-transform: uppercase;
}