.tab-buttons {
    align-items: center;
    border-bottom:solid 2px var(--neutrals--200);
    display:flex;
    gap:24px;
    margin:12px 0 0;

    button {
        background:transparent;
        border-bottom:solid 2px var(--neutrals--200);
        border:none;
        cursor: pointer;
        font-family:inherit;
        font-size:16px;
        font-weight:500;
        margin-bottom:-1px;
        padding:12px 0;

        &.active {
            border-bottom:solid 2px var(--sky--600);
            color:var(--sky--600);
        }
    }
}