@import '../../global';

.details {
    align-items: center;
    display:flex;
    justify-content: center;
    max-width:1440px;
    margin:0 auto;

    &--group {
        margin-bottom:60px;

        @media screen and (min-width: $breakpoint--large) {
            margin-bottom:100px;
        }
    }

    &--block {
        padding:24px 0 24px;
        position:relative;

        h2 {
            color:var(--base---black);
            font-family: "Nanum Myeongjo", serif;
            font-size: 26px;
            line-height: 120%;
            font-weight: 800;
            margin-bottom:24px;

            &:before {
                background:var(--sky--600);
                content:"";
                display:none;
                height:4px;
                margin-bottom: 4px;
                width:60px;
            }

            @media screen and (min-width: $breakpoint--large) {
                color:var(--neutrals--800);
                font-weight: 600;
                left:-248px;
                margin-top:-9px;
                position:absolute;
                width:188px;

                &:before { display:block; }
            }
        }

        h3 {
            @include headline--xsmall;
            max-width:760px;
            padding:24px 0;
        }

        h4 {
            font-size:14px;
            font-weight:500;
            line-height:120%;
            max-width:760px;
            padding:24px 0 0;
        }

        p {
            color: var(--neutrals--700);
            max-width:760px;
            padding-bottom:16px;
            @include paragraph--large;
        }

        strong {
            color: var(--base---black);
            font-weight:600;
            max-width:760px;
        }

        ul,ol {
            color: var(--neutrals--700);
            margin:0;
            padding:0 0 24px 20px;
            font-size:18px;
            line-height:36px;
            max-width:760px;

            li {
                margin-bottom:4px;

                ul {
                    margin:0;
                    padding-bottom:0;

                    li { margin:0; }
                }
            }
        }
    }

    &--card {
        background: var(--base---white);
        border-radius:8px;
        box-shadow: var(--shadow--standard);
        padding:24px;
        margin:24px 0;

        a {
            background:var(--neutrals--200);
            border-radius:4px;
            color:var(--neutrals--700);
            display:flex;
            gap:8px;
            font-size:12px;
            line-height: 16px;
            margin:0 0 24px;
            padding:4px 8px;
            text-decoration: underline;
            width:fit-content;
        }

        strong {
            display:block;
            font-size:20px;
            font-weight:600;
            line-height: 32px;
            margin-bottom:4px;
        }

        p{
            font-size:14px;
            line-height:150%;
        }

        small {
            text-transform:uppercase;
            font-size:12px;
            font-weight:600;
            margin:12px 0 4px;
            display:block;
        }

        ul {
            font-size:14px;
            line-height:24px;

            li {
                padding:0;
                margin:0;
            }
        }

        ol {
            list-style-type: none;
            margin:0;
            padding:0;
            gap:8px;
            display:flex;
            
            li {
                background:var(--neutrals--200);
                border-radius:100px;
                padding:1px 12px;
                font-size:12px;
                line-height:24px;
                font-weight: 600;;
            }
        }
    }

    &--boxes {
        display:flex;
        flex-direction: column;
        flex-wrap:wrap;
        gap:24px;
        max-width:760px;
    }

    &--box {
        border:solid 1px var(--neutrals--300);
        border-left:solid 8px var(--sky--600);
        display:flex;
        flex-direction: column;
        gap: 16px;
        padding:24px;
        flex:0 0 auto;

        h3 {
            font-size:20px;
            font-weight:500;
            margin:0;
            padding:0;

            &::after {
                background:var(--neutrals--200);
                content:"";
                display:block;
                height:2px;
                margin-top:16px;
                width:80px;
            }
        }

        h4 {
            font-size:28px;
            font-weight:500;

            &::after {
                background:var(--neutrals--200);
                content:"";
                display:block;
                height:2px;
                margin-top:16px;
                width:80px;
            }
        }

        p {
            color: var(--neutrals--600);
            margin:0;
            padding:0;
            @include paragraph--medium;
        }
    }

    &--container {
        max-width:800px;
        padding:16px;
        width:100%;

        @media screen and (min-width: $breakpoint--medium) {
            padding:24px;
        }
    }

    &--example {
        align-items: center;
        background:var(--neutrals--50);
        border: solid 1px var(--neutrals--300);
        border-radius:4px;
        color: var(--neutrals--600);
        display: flex;
        flex: 1 1 0%;
        flex-direction: column;
        font-size: 16px;
        justify-content: center;
        line-height: 24px;
        padding: 24px;
        position: relative;
        text-align: center;

        strong { margin:4px 0; }
    }

    &--exampleLabel {
        background: var(--base---white);
        border: solid 1px var(--neutrals--300);
        border-radius: 2px;
        color: var(--base---black);
        font-size: 14px;
        font-weight: 600;
        left: 12px;
        line-height: 14px;
        padding: 4px 8px;
        position: absolute;
        top: -12px;
    }

    &--exampleWrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 12px 0px;

        @media screen and (min-width: $breakpoint--medium) {
            flex-direction: row;
        }
    }

    &--frame {
        background:var(--neutrals--200);
        border-radius:4px;
        margin:24px 0;
        max-width:760px;
        padding:24px;
    }

    &--headline {
        padding:48px 0 12px;

        @media screen and (min-width: $breakpoint--medium) {
            padding:80px 0 24px;
        }


        h1 {
            color:var(--base---black);
            @include headline--small;

            @media screen and (min-width: $breakpoint--medium) {
                @include headline--large;
                font-weight:600;
            }
    
            span {
                color:var(--sky--600);
            }
        }

        ul {
            color:var(--neutrals--600);
            display:flex;
            flex-direction: column;
            gap:12px;
            list-style-type:none;
            margin:12px 0;
            padding:0;
            @include label--medium;

            @media screen and (min-width: $breakpoint--medium) {
                flex-direction: row;
            }

            strong {
                color: var(--base---black);
                font-weight:500;
                margin-right:-8px;
            }

            li {
                display:flex;
                gap:12px;

                @media screen and (min-width: $breakpoint--medium) {
                    &:before {
                        content:"•";
                        display:block;
                    }
    
                    &:first-child{
                        &::before {
                            display:none;
                        }
                    }
                }
            }
        }
    }

    &--image {
        margin:0 -48px;
    }

    &--right {
        border-top:solid 4px var(--neutrals--200);
        color: var(--neutrals--700);
        line-height:24px;
        padding:20px 0;

        @media screen and (min-width: $breakpoint--medium) {
            flex: 0 0 250px;
        }

        h3 {
            @include headline--xsmall;
            padding:12px 0;
        }

        p {
            color: var(--neutrals--700);
            margin-bottom:24px;
            @include paragraph--medium;
        }

        ol {
            margin:12px 0;
            @include paragraph--medium;

            li { margin:0 0 8px; }
        }
    }

    &--summary {
        display:flex;
        flex-wrap:wrap;
        gap:24px;
        list-style-type: none;
        margin:0 0 48px 0 !important;
        padding:0 !important;
        max-width: 980px !important;

        li {
            background: var(--base---white);
            border:solid 1px var(--neutrals--200);
            border-left:solid 8px var(--sky--600);
            box-shadow: var(--shadow--standard);
            font-size:16px;
            line-height:28px;
            margin:0 !important;
            padding:24px;
            width:300px;

            strong {
                display:block;
            }
        }
    }

    &--left {
        flex:0 0 auto;
        max-width:760px;
        width:100%;
    }

    &--inline {
        display:flex;
        flex-direction: column;
        gap:24px;
        margin:24px 0;

        @media screen and (min-width: $breakpoint--medium) {
            flex-direction: row;
        }

        img {
            border:solid 1px var(--neutrals--200);
            max-width:760px;
            width:100%;
        }
    }

    &--figma {
        border-left:solid 20px var(--base---white);
        border-right:solid 20px var(--base---white);
        margin:48px calc(50% - 50vw);
        padding-bottom: 200%;
        position: relative;
        width:99vw;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
    }

    &--visual {
        align-items: center;
        aspect-ratio: 3 / 2;
        background-color:var(--neutrals--100);
        display:flex;
        justify-content: center;
        margin:0 calc(50% - 50vw);
        overflow:hidden;
        position:relative;
        width:100vw;

        &_left {
            height:100%;
            margin:0 calc(50% - 50vw);
            max-height:400px;
            position:absolute;
            width:100vw;
        }

        &_right {
            height:100%;
            max-height:400px;
            position:absolute;
            right: calc(50% - 50vw);
            width:calc(100vw / 2);
        }

        @media screen and (min-width: $breakpoint--small) {
            aspect-ratio: 3 / 1;
        }

        @media screen and (min-width: $breakpoint--medium) {
            aspect-ratio: 4 / 1;
            max-height:400px;
        }

        img {
            display:block;
            position:relative;
            z-index: 9;

            @media screen and (min-width: $breakpoint--small) {
                max-height:400px;
            }
        }

        
    }

    &--mobile { 
        display:block;

        @media screen and (min-width: $breakpoint--small) {
            display:none;
        }
    }

    &--tablet { 
        display:none;

        @media screen and (min-width: $breakpoint--small) {
            display:block;
        }

        @media screen and (min-width: $breakpoint--medium) {
            display:none;
        }
    }

    &--desktop { 
        display:none;

        @media screen and (min-width: $breakpoint--medium) {
            display:block;
        }
    }

}