.about {
    align-items: center;
    display:flex;
    min-height:100vh;
    flex:0 0 auto;
    justify-content: center;
    min-height: 660px;
    padding:60px 0 30px;
    position:relative;
    width:100vw;
}