@import '../../design';

.heading {
    color:rgba(255,255,255,0.60);
    font-size: 20px;
    font-weight:500;
    line-height: 28px;
    letter-spacing: 0;

    @include breakpoint(tablet) {
        font-size: 24px;
        line-height: 32px;
    }

    &.dark {
        color:rgba(0,0,0,0.60);
    }
}