.header {
    align-items: center;
    display:flex;
    height:60px;
    font-size:10px;
    font-weight:700;
    left:0;
    letter-spacing:2px;
    line-height: 16px;
    padding:0 20px;
    position:fixed;
    right:0;
    top:0;
    z-index:99999;

    &.light {
        a {
            color:#2c2c2c;
        }
    }

    a {
        color:#fff;
        margin:0;
        padding:20px 0;
        text-transform: uppercase;

        @media only screen and (min-width:769px) {
            display:block;
            padding:20px;
        }
    }
}