@import '../../global';

.header {
    background:var(--base---white);
    border-bottom:solid 1px var(--neutrals--200);
    display:flex;
    left:0;
    padding:0 24px;
    position:fixed;
    right:0;
    top:0;
    z-index:999;
}