.intro {
    align-items: center;
    background:#000;
    color:#fff;
    display:flex;
    height:100vh;
    flex:0 0 auto;
    justify-content: center;
    min-height: 660px;
    padding:60px 0 30px;
    position:relative;
    width:100vw;
}