.display {
    font-size: 72px;
    font-weight: 900;
    letter-spacing: -1.5px;
    line-height: 64px;
    margin:12px 0 24px;
    text-indent: -2px;

    span {
        display:inline-block;
    }
}