@import '../../design';

.display {
    font-size: 44px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 40px;
    margin:12px 0 24px;
    text-indent: -2px;

    @include breakpoint(tablet) {
        font-size: 68px;
        letter-spacing: -2px;
        line-height: 64px;
	}

    span {
        display:inline-block;
    }
}