@import '../../global';

.case {

    @media screen and (min-width: $breakpoint--small) {
        padding:24px;
    }

    &--container {
        align-items: center;
        background:var(--neutrals--100);
        display:flex;
        justify-content: center;
        min-height:600px;
    }

    &--content {
        display:flex;
        flex-direction: column;
        gap:24px;
        max-width:1200px;
        padding:60px 16px;
        width:100%;

        @media screen and (min-width: $breakpoint--small) {
            padding:100px 24px;
            gap:48px;
        }
    

        h2 {
            @include headline--small;

            @media screen and (min-width: $breakpoint--small) {
                @include headline--large;
            }
        }
    }

    &--list {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap:32px;
        list-style-type: none;
        margin:0;
        padding:0;

        li {
        }
    }
}