.icons {
    align-items: center;
    display:inline-flex;
    justify-content: center;
    height:24px; 
    width:24px;

    &.lg { height:48px; width:48px; }
    &.md { height:36px; width:36px; }
    &.sm { height:20px; width:20px; }
    &.xs { height:16px; width:16px; }

    svg { fill:currentColor; flex:1; }
}