@import '../../global';

.nav {
    ul {
        display:flex;
        list-style-type: none;
        margin:0;
        padding:0;

        a {
            color:var(--neutrals--600);
            display:block;
            padding:24px 20px;
            @include label--medium;
        }
    }
}